@import url('./header.css');
@import url('./home.css');
@import url('./cards.css');
@import url('./content.css');
@import url('./footer.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}



.load {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: white;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 0.3s linear;
}
  
.load-none {
    opacity: 0;
    visibility: hidden; /* Yoki display: none */
}



a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --DarkBlue: #09ff00;
    --SimpleBlack:#3B4A6B;
    --Blue:#ce5e13;
    --SkyBlue:#cdedffa9;
    --White:#FFFFFF;
    --DarkYellow:#F7BA0E;

}
